:root {
    --darker-lilac: #34327B;
    --dark-purple: #1C1829;
    --lilac: #9F84F9;
    --true-orange: #EB7A42;
    --cream: #FEFAEE;
    --yellow: #E5C03E;
    --input-color: rgba(#2C6DA5, 0.1)
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#BtnAvaliar{
    color: var(--true-orange);
    border: 2px solid var(--true-orange);
    background-color: var(--cream);
}

.w-60{
    width: 60% !important;
}

.img-fluid{
    border-radius: 20px;
    height: 70% !important;
    object-fit: cover;
    width: 60%;
    aspect-ratio: 16/9;
    background-position: center;
}

.organizador .pad{
    padding: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    border-radius: 10px;
    background-color: var(--true-orange);
}

.pad h4{
    color: var(--cream);
    transform: translateY(0.2rem);
}

h4 strong i{
    color: var(--true-orange);
}

.card-title b span{
    color: var(--true-orange);
}

.fundo{
    padding: 6rem 0rem 6rem 0rem;
    border-radius: 20px;
}

.botoes button{
    border-radius: 10px;
    width: 15rem;
    padding: .3rem;
}

#BtnExcluir{
    border: 2px solid var(--true-orange);
    background-color: var(--cream);
    color: var(--true-orange);
}

#BtnEditar{
    border: 2px solid var(--true-orange);
    background-color: var(--true-orange);
    color: var(--cream);
}