
.mt-8{
    margin-top: 8rem !important;
}

.card img{
    border-radius: 20px !important
}
.card{
    border-radius: 20px !important
}


.row{
    gap: 11rem;
    scroll-behavior: smooth;
}

@media (max-width: 767.97px){
    .row{
        gap: 5rem;
    }
}

