@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

:root {
    --darker-lilac: #34327B;
    --dark-purple: #1C1829;
    --lilac: #9F84F9;
    --true-orange: #EB7A42;
    --cream: #FEFAEE;
    --yellow: #E5C03E;
    --input-color: rgba(#2C6DA5, 0.1)
}


body {
    margin: 0;
    padding: 0;
    font-family: "Syne", sans-serif !important;
    color: var(--dark-purple);
    overflow-x: hidden !important;
    background-color: var(--cream);
}

footer {
    background-color: var(--darker-lilac);
    height: 73px !important;
    color: var(--lilac);
    z-index: 0 !important;
}



.gap {
    gap: .5rem;
}

.navbar {
    background-color: var(--darker-lilac);
    height: 73px !important;
}

.map-link,
.map-link:visited,
.map-link:active {
    color: var(--true-orange) !important;
    transition: all .75s ease-in;
}

.map-link:hover {
    opacity: 60%;
}

.mb-8 {
    margin-bottom: 8rem !important;

}


.offcanvas {
    z-index: 500 !important;
}


.off-1,
.off-1 .close,
.off-1 .nav-link,
.off-1 .nav-link:visited {
    background-color: var(--darker-lilac);
    color: var(--cream);
}

.off-1 .active {
    color: var(--true-orange) !important;
}

.alignment {
    height: 73px !important;
}

.w-85 {
    width: 85%;
}

.mt-7 {
    margin-top: 7rem !important;
}

.ml-15 {
    margin-left: 15%;
}

.alerts {
    margin-right: 2rem;
    border: none !important;
    background-color: transparent !important;
}

.alerts i {
    font-size: 38px;
    color: var(--true-orange);
    transform: translateY(.1rem);
    transition: all .75s ease-in;
}

.alerts i:hover {
    opacity: 60%;
}

.profile {
    border: none !important;
    background-color: transparent !important;
}


.profile img {
    width: 46.8px;
    height: 46.8px;
    border-radius: 50%;
    transition: all .75s ease-in;
}


.opacity-image img:hover {
    opacity: 60%;
}


.collapse {
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.25);
    border: none !important;
}


.close {
    font-size: 70px;
    border: none;
    background-color: transparent;
    transition: 1s all ease;
}

.close:hover {
    opacity: 60%;
}


.navbar-middle {
    transform: translateX(-5rem) !important;
    transition: .1s all ease;
}



#Nav_Item_Alerts {
    padding: 1.5rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .75 ease-in;
    cursor: pointer;
}


#SearchButton {
    background-color: transparent !important;
    border: none !important;
    font-size: 24px;
    color: var(--true-orange);
    transform: translate(-3.2rem, .2rem);
}

#Logo {
    cursor: default;
    color: var(--yellow);
}

#Logo span {
    color: var(--true-orange);
}

#MapIcon {
    padding-left: .2rem;
    font-size: 30px;
}

#SearchBar,
#SearchBar::placeholder {
    color: var(--true-orange);
    background-color: var(--cream);
}


@media (max-width:1200px) {
    .ml-15 {
        margin: 0;
        text-align: center;
    }
}


@media (max-width:559.98px) {
    .navbar {
        height: 10rem !important;
        padding: 2rem;
    }

    #SearchBar {
        display: block;
        width: 7rem !important;
    }

    footer {
        height: 7rem !important;
    }

    footer p {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .mt-7 {
        margin-top: 11rem !important;
    }
}

@media (max-width:390.98px) {

    footer p {
        font-size: 9px;
    }

}